*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(221, 172, 109);
}

.inputBox{
    background-color: white;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
}

.inputBox input{
    width: 100%;
    padding: 10px 0;
    border:none;
    outline: none;
    font-size: 25px;
}

.inputBox img{
    width: 35px;
    cursor: pointer;

}